<h1>Edit Clinic</h1>

<%= render 'form', clinic: @clinic %>

<%= link_to 'Show', @clinic, class: "btn btn-sm mx-1 btn-secondary" %>
<%= link_to 'Back', clinics_path, class: "btn btn-sm mx-1 btn-secondary" %>
