<h1>Request Detail for - <%= @patient.patient_name %></h1>
<p>
<b>Request details:</b>
<%= @request.summary %>
</p>
<%= link_to 'Edit', edit_patient_request_path(@patient, @request), class: "btn btn-sm mx-1 btn-secondary" %>
<%= link_to 'Back', patient_requests_path(@patient), class: "btn btn-sm mx-1 btn-secondary" %> 
