<h1>Edit Hospital</h1>

<%= render 'form', hospital: @hospital %>

<%= link_to 'Show', @hospital, class: "btn btn-sm mx-1 btn-secondary" %>
<%= link_to 'Back', hospitals_path, class: "btn btn-sm mx-1 btn-secondary" %>
