<h1>Checkup Detail for - <%= @patient.patient_name %></h1>
<p>
<b>Checkup details:</b>
<%= @checkup.summary %>
</p>
<%= link_to 'Edit', edit_patient_checkup_path(@patient, @checkup), class: "btn btn-sm mx-1 btn-secondary" %>
<%= link_to 'Back', patient_checkups_path(@patient), class: "btn btn-sm mx-1 btn-secondary" %> 
