<nav class="navbar navbar-expand-md bg-dark navbar-dark" >
  <div class="container">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
      <!-- <a class="ml-3 btn navbar-btn btn-primary mr-auto" href="#">Home</a> -->
      <%= link_to "Home", root_path, class: "ml-3 btn navbar-btn btn-primary ml-auto" %>
    </div>
  </div>
</nav>
